<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <!-- <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" /> -->

    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

    <link href="{% static 'css/navbar.css' %}" rel="stylesheet">
    <link href="{% static 'css/footer.css' %}" rel="stylesheet">
    <link href="{% static 'css/aboutus.css' %}" rel="stylesheet">

    <title>WeGuide - FAQs</title>
</head>

<body>
    {% include 'navbar.html' %}
    
    <div class="container info">
        <span class="heading" style="font-family: Lobster;">WeGuide</span>
        <hr>
        <br>
        <div class="detail">Weguide is a website for students to find information regarding scholarships, loans, ngos and book banks.</div>
        <br>
        <div class="detail">This project was started by StoryOfMakers which is an initiative of Tarun Mitra Mandal. TMM is a non-profit organisation, established in 1968 that works primarily in the domain of Gender, Human Rights, Health, Education and Child & Youth Development.</div>
        <br>
        
        <div class="detail" id="services">
            <ul>
                <h3 class="heading">What will WeGuide have ?</h3>
                <li class="pointer">Scholarships - Organisations, companies and governments giving grants.</li>
                <li class="pointer">Book Bank - Support students with study materials and books.</li>
                <li class="pointer">Loans - Organisations, Banks and government bodies giving low interest or no interest loans.</li>
                <li class="pointer">Educational NGOs - Organisations which support and guide students for higher education.</li>
            </ul>
        </div>
    </div>

    {% include 'footer.html' %}

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        var elem = document.querySelector('.sidenav');
        var instance = new M.Sidenav(elem);
    </script>
</body>

</html>