<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <link href="{% static 'css/navbar.css' %}" rel="stylesheet">
    <link href="{% static 'css/slideshow.css' %}" rel="stylesheet">
    <link href="{% static 'css/footer.css' %}" rel="stylesheet">

    <title>WeGuide</title>
</head>

<body>
    <div class="navbar-container">
        <nav>
            <div class="nav-wrapper">
                <a href="{% url 'home' %}" class="brand-logo">
                    WeGuide
                </a>
                <a href="#" class="sidenav-trigger" data-target="mobile-links">
                    <i class="material-icons">menu</i>
                </a>
                <ul id="nav-mobile" class="right menu-list hide-on-med-and-down">
                    <li class="active"><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'crowdsourcing' %}">Contribute</a></li>
                    <li><a href="{% url 'faq' %}">FAQs</a></li>
                </ul>
            </div>
            <div class="nav-content">
                <ul class="tabs row tabs-transparent hide-on-med-and-down">
                    <li class="tab col"><a href="{% url 'scholarships' %}">Scholarships</a></li>
                    <li class="tab col"><a href="{% url 'loans' %}">Loans</a></li>
                    <li class="tab col"><a href="{% url 'books' %} ">Bookbanks</a></li>
                    <li class="tab col"><a href="{% url 'ngos' %}">NGOs</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <ul class="sidenav" id="mobile-links">
        <li class="active"><a href="{% url 'home' %}">WeGuide</a></li>
        <li class="divider brown"></li>
        <li><a href="{% url 'scholarships' %}">Scholarships</a></li>
        <li><a href="{% url 'loans' %}">Loans</a></li>
        <li><a href="{% url 'books' %}">Bookbanks</a></li>
        <li><a href="{% url 'ngos' %}">NGOs</a></li>
        <li class="divider brown" tabindex="-1"></li>
        <li><a href="{% url 'crowdsourcing' %}">Contribute</a></li>
        <li><a href="{% url 'faq' %}">FAQs</a></li>
    </ul>


    <div class="intro-container">
        <div class="intro-text">
            <p class="flow-text intro-head">Wondering getting a decent education is way too costly these days?</p>
            <p class="flow-text intro-para">With the help of our extensive research, one click can get you
                information about which goverment schemes or NGOs can help you achieve your dreams.</p>
        </div>
        <div class="intro-img">
            <img src="{% static 'img/Screenshot__1_-removebg-preview.png' %}" alt="placeholder" class="center-align">
        </div>
    </div>

    <div class="intro">
        <div class="slideshow-container">

            <div class="mySlides fade">
                <a href="#"><img src="{% static 'img/travel1.jpg' %}" style="width:100%"></a>
                <div class="text1"><mark>Est qui velit laborum et cillum incididunt magna Lorem cillum irure.</mark>
                </div>
            </div>

            <div class="mySlides fade">
                <img src="{% static 'img/travel2.jpg' %}" style="width:100%">
                <div class="text2"><mark>Reprehenderit incididunt ut ex minim qui id mollit do ut commodo.</mark></div>
            </div>

            <div class="mySlides fade">
                <img src="{% static 'img/travel3.jpg' %}" style="width:100%">
                <div class="text3"><mark>Amet minim esse ea elit dolor culpa sint elit.</mark></div>
            </div>

            <div class="mySlides fade">
                <img src="{% static 'img/travel4.jpg' %}" style="width:100%">
                <div class="text4"><mark>Culpa ipsum qui mollit irure voluptate elit consectetur ex cupidatat proident
                        quis ea.</mark></div>
            </div>

            <div class="mySlides fade">
                <img src="{% static 'img/travel5.jpg' %}" style="width:100%">
                <div class="text5"><mark>Deserunt dolor dolor duis est magna mollit et eu elit cupidatat.</mark></div>
            </div>

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

        </div>


        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
            <span class="dot" onclick="currentSlide(5)"></span>
        </div>
    </div>

    <div class="ourservices">
        <div class="section-container">
            <p class="section-head">Our Services</p>
            <hr>
            <p class="service-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum iste numquam possimus nobis a saepe unde
                molestiae veritatis fuga eius beatae ipsum, error aspernatur quasi illum accusantium, reprehenderit
                sequi laborum!
            </p>
        </div>
        <div class="card-container">

            <!-- <div class="col s4">
                <div class="row">
                    <div class="col s12 m7"> -->
                        <div class="card service-card">
                            <div class="card-image">
                                <img src="{% static 'img/service1.png' %}">
                            </div>
                            <p class="card-head">Card Title</p>
                            <div class="card-content service-card-content">
                                <p>Occaecat duis ut aliquip in sint sit magna sit nulla id minim.</p>
                            </div>
                        </div>
                    <!-- </div>
                </div>
            </div> -->
            <!-- <div class="col s4">
                <div class="row">
                    <div class="col s12 m7"> -->
                        <div class="card service-card">
                            <div class="card-image">
                                <img src="{% static 'img/service2.png' %}">
                            </div>
                            <p class="card-head">Card Title</p>
                            <div class="card-content service-card-content">
                                <p>In eiusmod velit id dolore voluptate culpa cillum ullamco voluptate et nisi dolor.
                                </p>
                            </div>
                        <!-- </div>
                    </div>
                </div> -->
            </div>
            <!-- <div class="col s4">
                <div class="row">
                    <div class="col s12 m7"> -->
                        <div class="card service-card">
                            <div class="card-image">
                                <img src="{% static 'img/service3.png' %}">
                            </div>
                            <p class="card-head">Card Title</p>
                            <div class="card-content service-card-content">
                                <p>Dolore aliquip Lorem qui fugiat pariatur ullamco.</p>
                            </div>
                        </div>
                    <!-- </div>
                </div>
            </div> -->

        </div>
        <div class="card-container">

            <!-- <div class="col s4">
                <div class="row">
                    <div class="col s12 m7"> -->
                        <div class="card service-card">
                            <div class="card-image">
                                <img src="{% static 'img/service4.png' %}">
                            </div>
                            <p class="card-head">Card Title</p>
                            <div class="card-content service-card-content">
                                <p>Dolore enim eu et do deserunt.</p>
                            </div>
                        </div>
                    <!-- </div>
                </div>
            </div> -->
            <!-- <div class="col s4">
                <div class="row">
                    <div class="col s12 m7"> -->
                        <div class="card service-card">
                            <div class="card-image">
                                <img src="{% static 'img/service5.png' %}">
                            </div>
                            <p class="card-head">Card Title</p>
                            <div class="card-content service-card-content">
                                <p>Pariatur officia tempor laborum proident ad.</p>
                            </div>
                        </div>
                    <!-- </div>
                </div>
            </div>
            <div class="col s4">
                <div class="row">
                    <div class="col s12 m7"> -->
                        <div class="card service-card">
                            <div class="card-image">
                                <img src="{% static 'img/service6.png' %}">
                            </div>
                            <p class="card-head">Card Title</p>
                            <div class="card-content service-card-content">
                                <p>Anim velit non ipsum laborum ad minim elit.</p>
                            </div>
                        </div>
                    <!-- </div>
                </div>
            </div> -->

        </div>

        <a class="waves-effect waves-light btn service-btn" href="/aboutus/#services">Learn More</a>
    </div>

    <div class="testimonials">
        <div class="section-container">
            <p class="section-head test-head">Testimonials</p>
            <hr class="test-line">
        </div>

        <div class="test-card-container">

            <!-- <div class="col s4">
                <div class="row">
                    <div class="col s12 m7"> -->
                        <div class="card test-card">
                            <div class="card-image test-card-img">
                                <img src="{% static 'img/person.png' %}">
                            </div>
                            <p class="card-head">Card Title</p>
                            <div class="card-content truncate-overflow">
                                <p>I am a very simple card. I am good at containing small bits of information. I am
                                    convenient because I require little markup to use effectively.I am a very simple card. I am good at containing small bits of information. I am
                                    convenient because I require little markup to use effectively.I am a very simple card. I am good at containing small bits of information. I am
                                    convenient because I require little markup to use effectively.I am a very simple card. I am good at containing small bits of information. I am
                                    convenient because I require little markup to use effectively.</p>
                            </div>
                            <div class="card-action">
                                <a href="#" class="#ffc400 amber-text accent-3">Read More &nbsp;<i
                                        class="material-icons hide-on-med-and-down">east</i></a>
                            </div>
                        </div>
                    <!-- </div>
                </div>
            </div>
            <div class="col s4">
                <div class="row">
                    <div class="col s12 m7"> -->
                        <div class="card test-card">
                            <div class="card-image test-card-img">
                                <img src="{% static 'img/person.png' %}">
                            </div>
                            <p class="card-head">Card Title</p>
                            <div class="card-content truncate-overflow">
                                <p>I am a very simple card. I am good at containing small bits of information. I am
                                    convenient because I require little markup to use effectively.</p>
                            </div>
                            <div class="card-action">
                                <a href="#" class="#ffc400 amber-text accent-3">Read More &nbsp;<i
                                        class="material-icons hide-on-med-and-down">east</i></a>
                            </div>
                        </div>
                    <!-- </div>
                </div>
            </div>
            <div class="col s4">
                <div class="row">
                    <div class="col s12 m7"> -->
                        <div class="card test-card">
                            <div class="card-image test-card-img">
                                <img src="{% static 'img/person.png' %}">
                            </div>
                            <p class="card-head">Card Title</p>
                            <div class="card-content truncate-overflow">
                                <p>I am a very simple card. I am good at containing small bits of information. I am
                                    convenient because I require little markup to use effectively.</p>
                            </div>
                            <div class="card-action">
                                <a href="#" class="#ffc400 amber-text accent-3">Read More &nbsp;<i class="material-icons hide-on-med-and-down">east</i></a>
                            </div>
                        </div>
                    <!-- </div>
                </div>
            </div> -->

        </div>

        <a class="waves-effect waves-light btn test-btn">View All &nbsp; <i class="material-icons hide-on-med-and-down">east</i></a>

    </div>

    {% include 'footer.html' %}

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{% static 'js/slideshow.js' %}"></script>
    <script>
        var elem = document.querySelector('.sidenav');
        var instance = new M.Sidenav(elem);
    </script>

</body>

</html>