<!-- <div class="navbar-container"> -->
    <nav class="nav-extended">
        <div class="nav-wrapper">
            <a href="{% url 'home' %}" class="brand-logo">
                WeGuide
            </a>
            <a href="#" class="sidenav-trigger" data-target="mobile-links">
                <i class="material-icons">menu</i>
            </a>
            <!-- <ul id="nav-mobile" class="right menu-list hide-on-med-and-down">
                <li class="active"><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'crowdsourcing' %}">Contribute</a></li>
                <li><a href="{% url 'faq' %}">FAQs</a></li>
            </ul> -->
        </div>
        <div class="nav-content">
            <ul class="tabs tabs-transparent hide-on-med-and-down">
                <li class="tab col" id="scholarship"><a href="{% url 'scholarships' %}">Scholarships</a></li>
                <li class="tab col" id="loan"><a href="{% url 'loans' %}">Loans</a></li>
                <li class="tab col" id="bookbank"><a href="{% url 'books' %} ">Bookbanks</a></li>
                <li class="tab col" id="ngo"><a href="{% url 'ngos' %}">NGOs</a></li>
            </ul>
        </div>
    </nav>
<!-- </div> -->
<ul class="sidenav" id="mobile-links">
    <li id="homeMobile"><a href="{% url 'home' %}">WeGuide</a></li>
    <li class="divider brown"></li>
    <li id="scholarshipMobile"><a href="{% url 'scholarships' %}">Scholarships</a></li>
    <li id="loanMobile"><a href="{% url 'loans' %}">Loans</a></li>
    <li id="bookbankMobile"><a href="{% url 'books' %}">Bookbanks</a></li>
    <li id="ngoMobile"><a href="{% url 'ngos' %}">NGOs</a></li>
    <li class="divider brown" tabindex="-1"></li>
    <li id="contributeMobile"><a href="{% url 'crowdsourcing' %}">Contribute</a></li>
    <li id="faqMobile"><a href="{% url 'faq' %}">FAQs</a></li>
</ul>
