*{
    font-family: Raleway;
}

body {
    display: flex !important;
    min-height: 100vh !important;
    flex-direction: column !important;
}

.faqcontainer{
    margin-top: 18vmin;
}

.submitbtn {
    line-height: 5vmin;
    background-color: #b5e1e2;
    color: #50394c !important;
}

.submitbtn:hover{
    background-color: #b5e1e2;
}

.submitbtn:focus{
    background-color: #b5e1e2;
}

.quescont{
    border-left: 0.2vmin solid rgb(226, 226, 226);
    padding-left: 5vmin !important;
    padding-right: 5vmin !important;
}

.quescont h5, .quescont p{
    color: #50394c !important;
}

.collapsible-header{
    background-color: #b5e1e2;
    font-size: 2.5vmin;
}

.collapsible-body{
    color: #50394c;
    font-family: Poppins;
    font-size: 2.3vmin;
    font-weight: normal;
}

.remove{
    display: none;
}

.fixed-action-btn{
    visibility: hidden;
}

@media only screen and (max-width: 960px) {
    .faqcontainer{
        margin-top: 20vmin;
    }
    .quescont{
        padding: 0vmin 4vmin !important;
    }
    .quescont h5, .quescont p{
        text-align: center;
    }

    .collapsible-header{
        font-size: 3.5vmin;
    }

    .collapsible-body{
        font-size: 3.3vmin;
        padding: 15px;
    }

    .fixed-action-btn{
        visibility: visible;
    }

    .btn-floating{
        background-color: #ffef96;
    }

    .btn-floating:hover{
        background-color: #ffef96;
    }

    .btn-floating i{
        color: #50394c;
    }

    .filterForm {
        position: fixed;
        width: 100% !important;
        height: 50vh;
        bottom: 0;
        margin: 0;
        background-color: #eedf8b;
        z-index: 1002;
        padding: 5vmin !important;
        overflow-y: auto;
        transform: translateY(100%);
        transition: transform 0.25s linear;
    }
}