.intro-container{
    margin-top: 10vmin;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 5%;
    background-color: #b5e1e2;
    border-bottom: 0.3vmin solid #b1b1b1;
    font-family: Raleway;
}

.intro-img img {
    width: 45vw;
    padding: 2vmin !important;
    height: auto;
}

.intro-head {
    font-size: 5vmin;
    font-weight: bold;
    color: #50394c ;
    padding-bottom: 5vmin;
}

.intro-para {
    font-size: 3vmin;
    color: #50394c;
    position: relative;
    bottom: 2vmin;
    font-family: Poppins;
}

.section-head {
    text-align: center;
    font-size: 5vmin;
    font-weight: bold;
}

hr {
    height: 0.3vmin;
    width: 5%;
    border-width: 0;
    color: black;
    background-color: black
}

.service-text {
    text-align: center;
    padding: 5vmin 15vmin;
    color: rgb(100, 100, 100);
    font-size: 2.5vh;
}

.card-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2vh auto;
}

.service-card {
    width: 40%;
    height: fit-content;
    box-shadow: 7px 7px 7px rgb(247, 247, 247);
    border-radius: 3vmin;
}

.card-image img {
    height: 25vmin;
}

.card-head {
    text-align: center;
    font-size: 4vmin;
    line-height: 3vmin;
    margin: 0;
    margin-top: 4vmin;
}

.card-content {
    color: rgb(100, 100, 100);
    text-align: center;
}

.service-btn {
    width: 20vw;
    height: 7vmin;
    line-height: 7vmin;
    margin: 3vh 39vw;
    background-color: white;
    border: 0.1vmin solid #ffca00;
    border-radius: 5vmin;
    color: #ffca00;
    font-size: 2.3vmin;
}

.service-btn:hover {
    color: black;
    border: 0.1vmin solid black;
}

.service-btn:active {
    color: black;
    border: 0.1vmin solid black;
}

.test-card-container {
    width: 90%;
    margin: 5vh auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.test-card {
    width: 27%;
    /* height: 50vmin; */
    box-shadow: 7px 7px 7px rgb(247, 247, 247);
    border-radius: 3vmin;
}

.card-action a {
    font-size: 2vmin;
}

.card-action i {
    vertical-align: middle;
    font-size: 2vmin;
}

.test-btn {
    width: 20vw;
    height: 7vmin;
    line-height: 7vmin;
    margin: 3vh 39vw;
    background-color: white;
    border: 0.1vmin solid #ffca00;
    border-radius: 5vmin;
    color: #ffca00;
    font-size: 2.3vmin;
}

.test-btn i {
    font-size: 3.3vmin;
    vertical-align: middle;
}

.test-btn:hover {
    color: black;
    border: 0.1vmin solid black;
}

.test-btn:active {
    color: black;
    border: 0.1vmin solid black;
}

.card .card-content p{
    font-size: 2.2vh !important;
}

@media only screen and (max-width: 960px) {
    .intro-container {
        flex-direction: column;
        padding: 5%;
    }
    .intro-img img{
        width: 90vw;
    }
    .card-container {
        width: 95%;
    }
    .service-card {
        margin: 0;
        padding: 0;
    }
    .service-btn, .test-btn{
        width: 30vw;
        margin: 3vh 34vw;
    }
    .card-head {
        margin: 3vmin;
    }
    .service-card-content {
        display: none;
    }
    .test-card-container {
        width: 95%;
        flex-direction: column;
    }
    .test-card {
        width: 75%;
        margin: 2vh auto;
        padding: 0;
    }
}