*{
    color: #50394c;
}

select{
    display: unset !important;
}

.card-container{
    position: relative;
    margin-top: 2vmin !important;
    font-family: Poppins;
}

#maincontainer {
    border-left: 0.2vmin solid rgb(226, 226, 226);
    padding-top: 3vmin;
}

.card-content {
    text-align: left !important;
    padding: 0 !important;
    position: relative;
    text-transform: capitalize;
}

.cardtitle {
    padding: 2vmin;
    margin-bottom: 3vmin;
    border-bottom: 0.2vmin solid #e2e2e2;
    line-height: 3.7vmin;
    font-size: 2.5vmin;
    font-family: Raleway !important;
    background-color: #b5e1e2;
    text-transform: capitalize !important;
    color: #50394c !important;
}

.contentrow{
    margin: 0 !important;
}

.cardimg {
    height: 7vmin;
    width: 7vmin;
    margin-bottom: 2vmin;
    margin-right: 4vmin;
}

.cont1 {
    width: 100%;
    height: auto;
    padding: 0.5vmin !important;
    padding-left: 2vmin !important;
    font-size: 2.3vmin;
}

.cont2, .cont3 {
    width: 100%;
    height: auto;
    padding: 0.5vmin;
    padding-left: 2vmin;
    font-size: 2.3vmin;
}

.card-action {
    text-align: center;
    padding: 2vmin !important;
    font-weight: bold;
}

.card-action a{
    font-size: 2.5vmin;
}

.pagination {
    margin: 0 !important;
    padding-top: 3vmin !important;
    border-left: 0.2vmin solid rgb(226, 226, 226);
}

.pagebtn {
    background-color: #b5e1e2;
    margin-left: 0.5vmin;
    margin-right: 0.5vmin;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

a.pageBtn{
    width: 5vmin;
}

.pagebtn a{
    color: #50394c !important;
}

.pagebtn:active{
    background-color: #ffef96 !important;
}

.searchbtn {
    background-color: #b5e1e2;
    color: #50394c;
}

.searchbtn:hover{
    background-color: #b5e1e2;
}

.searchbtn:focus{
    background-color: #b5e1e2;
}

.modal {
    position: fixed;
    display: flex;
    z-index: -1;
    visibility: hidden;
    transition: opacity .01s linear;
}

.modal-show {
    z-index: 1003;
    visibility: visible;
    opacity: 1;
    transition: 0.2s;
}

.modal-trigger{
    color: #b5e1e2 !important;
    font-size: 3vmin;
    text-align: center;
    margin: 0 !important;
}

modal-overlay{
    z-index: 1002;
    opacity: 0.3;
    width: 100vw;
    background-color: black;
}

.submitbtn{
    margin-top: 1.5vmin;
    background-color: #b5e1e2;
    color: #50394c;
}

.submitbtn:hover{
    background-color: #b5e1e2;
}

.submitbtn:focus{
    background-color: #b5e1e2;
}

.pagebtnactive{
    background-color: #b5e1e2;
}

.fixed-action-btn{
    visibility: hidden;
}

@media only screen and (max-width: 960px) {
    a.pageBtn{
        width: 8vmin;
    }

    .row,.col{
        float: none !important;
    }
    
    .main-container{
        border: 2px #50394c !important;
    }

    .cardtitle {
        padding: 3vmin !important;
        margin-bottom: 3vmin !important;
        border-bottom: 0.2vmin solid #e2e2e2 !important;
        line-height: 3.7vmin !important;
        font-size: 4vmin !important;
        font-family: Raleway !important;
        background-color: #b5e1e2;
        text-transform: capitalize !important;
        color: #50394c !important;
    }

    p{
        font-size: 15px !important;
        margin-bottom: 2vmin !important;
    }

    .card-action a{
        font-size: 4vmin;
    }

    .fixed-action-btn{
        visibility: visible;
    }

    .btn-floating{
        background-color: #ffef96;
    }

    .btn-floating:hover{
        background-color: #ffef96;
    }

    .btn-floating i{
        color: #50394c;
    }

    .search-form {
        position: fixed;
        width: 100% !important;
        height: 50vh;
        bottom: 0;
        margin: 0;
        background-color: #eedf8b;
        z-index: 1002;
        padding: 5vmin !important;
        overflow-y: auto;
        transform: translateY(100%);
        transition: transform 0.25s linear;
    }

    ::placeholder{
        color: #50394c;
        opacity: 0.3;
    }
    
}
