*{
    color: #50394c;
}
.brand-logo {
    /* margin-left: 7vmin; */
    font-size: 6vmin !important;
    font-family: Lobster;
    color: #50394c !important;
    position: relative !important;
}

.sidenav{
    background-color: #ffef96e0 !important;
    font-family: 'Raleway' !important;
    margin: 0 !important;
    width: 70%;
}


.nav-extended {
    background-color: #ffef96; 
    /* padding-bottom: 2vh; */
    border-bottom: 0.1vmin solid #b1b1b1;
    position: sticky;
    top: 0; 
    z-index: 50;
}

.tabs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 1vh;
}

.tabs li{
    /* height: 8vmin !important; */
    width: 20% !important;
}

.tabs li.active{
    background-color: transparent !important;
    border-bottom: 0.7vmin solid #bdb16f !important;
}

.tabs li.active a{
    background: none;
    border: none;
    color: #50394c !important;
}

.tab a{
    height: 8vmin !important;
    background-color: transparent;
    border-radius: 0.3vmin;
    color: #50394c !important;
    padding: 0 !important;
    margin: 0 !important;
    text-align: center !important;
    font-size: 2.5vmin !important;
    line-height: 8vmin !important;
}

.tabs li a:hover{
    background-color: #eedf8d !important;
}

.nav-wrapper {
    border-bottom: none;
    text-align: center;
}

.menu-list li a {
    font-size: 2.5vmin;
    color: #50394c;
}

.active{
    font-weight: bold;
}

.tabs .row::after{
    display: none;
}


@media (max-width: 960px) {
    nav {
        height: 15vmin;
        line-height: 15vmin;
    }

    nav.nav-select     { display: none; }
    nav select { display: inline-block; }
    .brand-logo{
        font-size: 7vmin !important;
        position: absolute !important;
    }

    .nav-content{
        display: none;
    }
    .large{
        font-size: 5vmin !important;
        line-height: 15vmin !important;
    }
    #search-trigger{
        height:15vmin;
        width: 15vmin;
    }
    .sidenav li>a{
        height: 8vh;
        line-height: 8vh;
        /* font-size: 2vh; */
    }
}